<h1>Listing wardrobe items</h1>

<table>
  <thead>
    <tr>
      <th>Garment</th>
      <th>Label</th>
      <th>Season</th>
      <th>Color</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @wardrobe_items.each do |wardrobe_item| %>
      <tr>
        <td><%= wardrobe_item.garment %></td>
        <td><%= wardrobe_item.label %></td>
        <td><%= wardrobe_item.season %></td>
        <td><%= wardrobe_item.color %></td>
        <td><%= link_to 'Show', wardrobe_item %></td>
      </tr>
    <% end %>
  </tbody>
</table>