<h1>Listing wardrobe_items</h1>

<table>
  <thead>
    <tr>
      <th>Garment</th>
      <th>Label</th>
      <th>Season</th>
      <th>Color</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @wardrobe_items.each do |wardrobe_item| %>
      <tr>
        <td><%= wardrobe_item.garment %></td>
        <td><%= wardrobe_item.label %></td>
        <td><%= wardrobe_item.season %></td>
        <td><%= wardrobe_item.color %></td>
        <td><%= link_to 'Show', wardrobe_item %></td>
        <td><%= link_to 'Edit', edit_wardrobe_item_path(wardrobe_item) %></td>
        <td><%= link_to 'Destroy', wardrobe_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wardrobe item', new_wardrobe_item_path %>