<p class="attribute" id="garment">
  <strong>Garment:</strong>
  <%= @wardrobe_item.garment %>
</p>

<p class="attribute" id="label">
  <strong>Label:</strong>
  <%= @wardrobe_item.label %>
</p>

<p class="attribute" id="season">
  <strong>Season:</strong>
  <%= @wardrobe_item.season %>
</p>

<p class="attribute" id="color">
  <strong>Color:</strong>
  <%= @wardrobe_item.color %>
</p>

<%= link_to 'Back', wardrobe_items_path %>